[submodule "til-25-environment"]
	path = til-25-environment
	url = https://github.com/til-ai/til-25-environment.git
[submodule "til-25-finals"]
	path = til-25-finals
	url = https://github.com/til-ai/til-25-finals/
